/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hubballi', cursive;
    font-size: 18px;
    color: white;
    letter-spacing: 1px;
    user-select: none;
}

img {
    max-width: 100%;
    height: 100%;
    display: block;
}

/* Hover */
.chat_user:hover {
    background-color: #2a3942;
    transition: background-color 200ms linear;
}

.icons .refresh:hover,
.icons .chat:hover,
.icons .more:hover,
.icons_control .search:hover,
.icons_control .more:hover {
    background-color: rgba(129, 128, 128, 0.5);
    transition: all 300ms linear;
}

.text_notification p:hover {
    text-decoration: underline;
}

.dropdown_wrapper ul li:hover {
    background-color: #2a3942;
}

/* Classi active */
.profile_main_wrapper.active{
    display: flex;
}

.icons .chat.active {
    background-color: rgba(129, 128, 128, 0.5);
}

.chat_user.active {
    background-color: #2a3942;
}

.message_user.active {
    display: block;
}

.chat_user.display_none,
.message_user.display_none{
    display: none;
}

.chat_user.display_block,
.message_user.display_block {
    display: flex;
}

.icon_notification img.active,
.text_notification h2.active,
.text_notification p.active {
    display: block;
    -webkit-animation: displayIcon 600ms linear;
}

.icons_control .more.active,
.icons_control .search.active {
    background-color: rgba(129, 128, 128, 0.5);
}

@keyframes displayIcon {
    from {
        display: none;
        opacity: 0;
    }

    to {
        display: block;
        opacity: 1;
    }
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 8px;
    background-color: #2a3942;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(29, 29, 29);
}
/* ------------------------------------------ */


/* app */
#app {
    width: 100vw;
    height: 100vh;
    background-color: #0a1014;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* div Loader < 100 */
.loader {
    width: 380px;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    -webkit-animation: opacity 400ms linear;
}

.loader .logo {
    width: 50px;
    height: 50px;
}

.loader .bar_wrapper {
    width: 100%;
}

.loader .bar_wrapper .percent_progressing {
    margin-bottom: 8px;
    font-weight: 600;
}

.loader .bar_wrapper .percent_progressing::after {
    content: '%';
    display: inline-block;
}

.loader .bar_wrapper .bar {
    flex-grow: 1;
    height: 3px;
    background-color: rgb(156, 156, 156);
    border-radius: 999px;
}

.loader .bar_wrapper .bar .progress {
    width: 0%;
    height: 100%;
    border-radius: 999px;
    background-color: #005c4b;
}

/* contenitore loading == 100 */
.loading_false {
    /* border: 2px solid red; */
    flex-grow: 1;
    max-width: 85%;
    height: 90%;
    display: flex;
    -webkit-animation: opacity 600ms linear;
    position: relative;
}

@-webkit-keyframes opacity {
    from {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Contenuto parte sinistra */
aside {
    width: 26%;
    min-width: 295px;
    height: 100%;
    background-color: #111b21;
    border-radius: 15px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 1px solid rgba(177, 175, 175, 0.4);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.profile {
    flex-shrink: 0;
    width: 100%;
    height: 58px;
    padding: 0 15px;
    background-color: #202c33;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    position: relative;
}

/* Dropdown add new User */
.dropdown_add_user {
    width: 200px;
    padding: 35px 20px;
    position: absolute;
    top: 100%;
    right: 10%;
    z-index: 1;
    text-align: center;
    background-color: #202c33;
    border-radius: 10px;
    box-shadow: 0 4px 10px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    -webkit-animation: opacity 250ms linear;
    display: none;
}

.dropdown_add_user.active {
    display: flex;
}

.dropdown_add_user label {
    font-weight: 700;
    font-size: 18px;
}

.dropdown_add_user input {
    background-color: #111B21;
    border-radius: 5px;
    border: none;
    padding: 4px 8px;
    box-shadow: 0 0 5px black;
}

.dropdown_add_user button {
    background-color: #005c4b9a;
    border: none;
    border-radius: 5px;
    padding: 5px 0;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0 0 5px #005c4b9a;
}

.dropdown_add_user button:hover {
    background-color: #005c4b;
    box-shadow: 0 0 5px #005c4b;
    transition: all 300ms linear;
}
/* ------------------------------------------------ */

.user_logo-user_name {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user_logo-user_name img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.user_logo-user_name h1 {
    font-size: 20px;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.icons .refresh,
.icons .chat,
.icons .more {
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 9999px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.icons img {
    width: 22px;
    height: 22px;
}

.notifications {
    background-color: #182229;
    padding: 20px 15px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.icon_notification {
    width: 48px;
    height: 48px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: #27a4da;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon_notification img {
    width: 30px;
    height: 30px;
    display: none;
}

.text_notification h2{
    font-size: 20px;
    margin-bottom: 5px;
    display: none;
}

.text_notification p {
    color: #aaa;
    cursor: pointer;
    display: none;
}

.input {
    padding: 10px 15px;
}

.input [type="text"] {
    width: 100%;
    height: 32px;
    padding: 0 10px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    background-color: #202c33;
}

/* Sezione chat utente */
.chat_user_wrapper {
    flex-grow: 1;
    overflow-y: auto;
}

.chat_user{
    padding: 10px 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    position: relative;
    margin-bottom: 15px;
}

.chat_user::after {
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    right: 0;
    width: 80%;
    height: 1px;
    background-color: rgba(88, 88, 88, 0.548);
}

.logo_user {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
}

.logo_user img {
    object-fit: cover;
    object-position: center;
}

.name_user {
    flex-grow: 1;
}

.name_user h2 {
    font-size: 22px;
    margin-bottom: 5px;
}

.name_user p {
    color: #aaa;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px;
}

.message_date {
    align-self: flex-start;
    text-align: end;
}

.message_date p {
    font-size: 14px;
}

/* Main nessuna chat selezionata */
.no_chat_selected {
    width: calc(100% - 26%);
    border-radius: 15px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #202c33;
    display: flex;
    align-items: center;
    justify-content: center;
}

.no_chat_selected .wrapper {
    max-width: 450px;
}

.no_chat_selected .wrapper .logo {
    width: 306px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.no_chat_selected .wrapper .description {
    text-align: center;
}

.no_chat_selected .wrapper .description h3{
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 20px;
}

.no_chat_selected .wrapper .description p {
    line-height: 24px;
}

/* Contenuto parte destra */
main {
    width: calc(100% - 26%);
    border-radius: 15px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.profile_main_wrapper {
    width: 100%;
    height: 58px;
    background-color: #202c33;
    padding: 0 15px;
    display: flex;
    align-items: center;
    display: none;
    position: relative;
}

.profile_user {
    flex-grow: 1;
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile_user .user_logo {
    width: 45px;
    height: 45px;
    flex-shrink: 0;
}

.profile_user .user_description h2 {
    font-size: 22px;
    margin-bottom: 5px;
}

.profile_user .user_description p {
    font-size: 14px;
}

.icons_control {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icons_control .search,
.icons_control .more {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons_control img{
    width: 22px;
    height: 22px;
}

.control_user {
    height: 70px;
    background-color: #202c33;
    display: flex;
    padding: 0 15px;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.control_user img {
    cursor: pointer;
}

.control_user [type="text"] {
    max-width: 90%;
    height: 40px;
    border-radius: 8px;
    padding-left: 10px;
    flex-grow: 1;
    border: none;
    background-color: #2a3942;
    font-size: 20px;
}

.dropdown_search_message {
    width: 200px;
    padding: 35px 20px;
    position: absolute;
    top: 100%;
    right: 5%;
    z-index: 999;
    text-align: center;
    background-color: #202c33;
    border-radius: 10px;
    box-shadow: 0 4px 10px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    -webkit-animation: opacity 250ms linear;
    display: none;
}

.dropdown_search_message.active {
    display: flex;
}

.dropdown_search_message label {
    font-weight: 700;
    font-size: 18px;
}

.dropdown_search_message input {
    background-color: #111B21;
    border-radius: 5px;
    border: none;
    padding: 4px 8px;
    box-shadow: 0 0 5px black;
}

.dropdown_search_message button {
    background-color: #005c4b9a;
    border: none;
    border-radius: 5px;
    padding: 5px 0;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0 0 5px #005c4b9a;
}

.dropdown_search_message button:hover {
    background-color: #005c4b;
    box-shadow: 0 0 5px #005c4b;
    transition: all 300ms linear;
}

/* ------------------------------------------------ */

/* Sezione messaggi */
.main_chat {
    background-image: url(../img/background_abstract.png);
    padding: 40px;
    flex-grow: 1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    display: none;
    height: calc(100% - 70px - 58px);
    overflow-y: auto;
    position: relative;
    -webkit-animation: opacity 600ms linear;
}

.main_chat.active {
    display: flex;
}


.main_chat .dropdown_wrapper {
    background-color: #202c33;
    width: 200px;
    position: absolute;
    top: 5px;
    right: 20px;
    z-index: 1;
    border-radius: 10px;
    box-shadow: 0 4px 10px black;
    overflow: hidden;
    display: none;
    -webkit-animation: opacity 250ms linear;
}

.dropdown_wrapper.active {
    display: block;
}

.dropdown_wrapper ul li{
    list-style: none;
    cursor: pointer;
    padding: 10px 0;
}

.dropdown_wrapper ul li h2{
    padding-left: 15px;
}

.message_user {
    width: 270px;
    padding: 8px;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: #202c33;
    display: none;
    word-wrap: break-word;
    position: relative;
    filter: drop-shadow(0px 4px 3px black);
}

.message_user.sent::after {
    content: '';
    display: block;
    border: 8px solid #005c4b;
    position: absolute;
    top: 0;
    left: 100%;
    border-bottom-color: transparent;
    border-right-color: transparent;
}

.message_user.received::after {
    content: '';
    display: block;
    border: 8px solid #202c33;
    position: absolute;
    top: 0;
    right: 100%;
    border-bottom-color: transparent;
    border-left-color: transparent;
}

.message_user .text_message {
    margin-bottom: 6px;
}

.message_user .date_and_read_status {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 4px;
}

.message_user .date_and_read_status .date_message {
    font-size: 12px;
    color: #aaa;
}

.message_user .date_and_read_status .read_status {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.message_user .date_and_read_status .read_status img {
    width: 10px;
    height: 10px;
}

.message_user .date_and_read_status .read_status img:last-child {
    transform: translateY(-3px);
}

/* Classe sent message */
.message_user.sent {
    background-color: #005c4b;
    align-self: flex-end;
    border-top-right-radius: 0;
}

/* Classe received message */
.message_user.received {
    background-color: #202c33;
    align-self: flex-start;
    border-top-left-radius: 0;
}