/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hubballi', cursive;
    font-size: 18px;
    color: white;
    letter-spacing: 1px;
}

img {
    display: block;
}

/* Hover */
.chat_user:hover {
    background-color: #2a3942;
    transition: background-color 200ms linear;
}

/* Classi active */
.profile_main_wrapper.active{
    display: flex;
}

.chat_user.active {
    background-color: #2a3942;
}

.message_user.active {
    display: block;
}

/* ------------------------------------------ */


/* body */
body {
    background-color: #0a1014;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Contenitore app */
#app {
    /* border: 2px solid red; */
    max-width: 85%;
    height: 850px;
    flex-grow: 1;
    display: flex;
}

/* Contenuto parte sinistra */
aside {
    width: 26%;
    height: 100%;
    background-color: #111b21;
    border-radius: 20px;
    border-right: 1px solid rgba(177, 175, 175, 0.5);
    overflow: hidden;
}

.profile {
    width: 100%;
    height: 58px;
    background-color: #202c33;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.user_logo-user_name {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user_logo-user_name img {
    display: block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.user_logo-user_name h1 {
    font-size: 20px;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.icons img {
    cursor: pointer;
}

.notifications {
    background-color: #182229;
    padding: 20px 15px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.icon_notification {
    width: 48px;
    height: 48px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: #53bdeb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text_notification h2{
    font-size: 20px;
    margin-bottom: 5px;
}

.text_notification p {
    color: #aaa;
    cursor: pointer;
}

.input {
    padding: 10px 15px;
}

.input [type="text"] {
    font-size: 18px;
    border: none;
    width: 100%;
    height: 32px;
    border-radius: 8px;
    padding-left: 10px;
    background-color: #202c33;
}

/* Sezione chat utente */
.chat_user{
    padding: 10px 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.logo_user {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.logo_user img {
    object-fit: cover;
    object-position: center;
}

.name_user {
    flex-grow: 1;
}

.name_user h2 {
    font-size: 22px;
    margin-bottom: 5px;
}

.name_user p {
    color: #aaa;
}

.message_date {
    align-self: flex-start;
}

/* Contenuto parte destra */
main {
    width: calc(100% - 26%);
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.profile_main_wrapper {
    width: 100%;
    height: 58px;
    background-color: #202c33;
    padding: 0 15px;
    display: flex;
    align-items: center;
    display: none;
}

.profile_user {
    flex-grow: 1;
}

.icons_control {
    display: flex;
    align-items: center;
    gap: 25px;
}

.icons_control img{
    cursor: pointer;
}

.control_user {
    height: 70px;
    background-color: #202c33;
    display: flex;
    padding: 0 15px;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.control_user img {
    cursor: pointer;
}

.control_user [type="text"] {
    max-width: 90%;
    height: 40px;
    border-radius: 8px;
    padding-left: 10px;
    flex-grow: 1;
    border: none;
    background-color: #2a3942;
    font-size: 20px;
}

/* Sezione messaggi */
.main_chat {
    background-image: url(../img/3627129.jpg);
    padding: 40px;
    flex-grow: 1;
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    display: none;
    height: 100%;
    overflow-y: auto;
}

.main_chat.active {
    display: flex;
}

/* Overlay main */
.main_chat::after{
    content: '';
    display: block;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.message_user {
    width: 270px;
    padding: 8px;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: #202c33;
    display: none;
    z-index: 99999;
}


.message_user .text_message {
    margin-bottom: 10px;
}

.message_user .date_message {
    font-size: 12px;
    text-align: end;
    color: #aaa;
}

/* Classe sent message */
.message_user.sent {
    background-color: #005c4b;
    align-self: flex-end;
}

/* Classe received message */
.message_user.received {
    background-color: #202c33;
    align-self: flex-start;
}

