<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Link Google font hubballi-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hubballi&display=swap" rel="stylesheet">

    <!-- Link VueJS -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <!-- Link CSS -->
    <link rel="stylesheet" href="css/style.css">

    <title>Boolzap</title>
</head>
<body>

    <!-- Contenitore App -->
    <div id="app">

        <!-- Contenuto parte sinistra -->
        <aside>

            <!-- Sezione profilo -->
            <section class="profile">

                <!-- Logo e nome profilo -->
                <div class="user_logo-user_name">
                    <img src="img/2213426.jpg" alt="">
                    <h1>Simone</h1>
                </div>

                <!-- Icone -->
                <div class="icons">
                    <!-- Icona refresh -->
                    <div class="refresh">
                        <img src="https://img.icons8.com/ios-glyphs/20/ffffff/refresh--v1.png"/>
                    </div>
                    <!-- Icona chat -->
                    <div class="chat">
                        <img src="https://img.icons8.com/external-nawicon-glyph-nawicon/20/ffffff/external-chat-communication-nawicon-glyph-nawicon.png"/>
                    </div>
                    <!-- Icona 3 puntini -->
                    <div class="more">
                        <img src="https://img.icons8.com/external-jumpicon-glyph-ayub-irawan/20/ffffff/external-dot-basic-ui-jumpicon-glyph-jumpicon-glyph-ayub-irawan.png"/>
                    </div>
                </div>
            </section>

            <!-- Sezione controllo notifiche -->
            <section class="notifications">

                <!-- Icona notifica -->
                <div class="icon_notification">
                    <img src="https://img.icons8.com/ios-filled/20/000000/bell.png"/>
                </div>
                
                <!-- Testo controllo notifiche -->
                <div class="text_notification">
                    <h2>Ricevi notifiche di nuovi messaggi</h2>
                    <p>Attiva notifiche dekstop &#62;</p>
                </div>
            </section>

            <!-- Sezione input -->
            <section class="input">
                <input type="text" placeholder="Cerca o inizia una nuova chat">
            </section>

            <!-- Sezione chat utente -->
            <section class="chat_user" v-for="(element, index) in contacts" @click="goToChat(index)" :class="index == currentChat ? 'active' : '' ">
                <!-- Logo utente -->
                <div class="logo_user">
                    <img :src="element.avatar" alt="">
                </div>

                <!-- Nome utente chat -->
                <div class="name_user">
                    <h2>{{element.name}}</h2>
                    <p>testo messaggio</p>
                </div>

                <!-- Data e ora messaggio -->
                <div class="message_date">
                    <p>data ultimo messaggio</p>
                </div>
            </section>

        </aside>

        <!-- Contenuto parte destra -->
        <main>

            <!-- Sezione logo e nome utente; icone controlli  -->
            <section class="profile_main_wrapper" v-for="(element, index) in contacts" :class="index == currentChat ? 'active' : '' ">

                <!-- Logo e nome profilo -->
                <div class="profile_user">
                    <div class="user_logo-user_name">
                        <img :src="element.avatar" alt="">
                        <h1>{{element.name}}</h1>
                    </div>
                </div>

                <!-- Icone cerca e altro -->
                <div class="icons_control">

                    <!-- Icona search -->
                    <div class="search">
                        <img src="https://img.icons8.com/ios-glyphs/20/ffffff/search--v1.png"/>
                    </div>

                    <!-- Icona 3 puntini -->
                    <div class="more">
                        <img src="https://img.icons8.com/external-jumpicon-glyph-ayub-irawan/20/ffffff/external-dot-basic-ui-jumpicon-glyph-jumpicon-glyph-ayub-irawan.png"/>
                    </div>
                </div>
            </section>

            <!-- Sezione messaggi -->
            <section class="main_chat">

            </section>

            <!-- Sezione input testo a varie icone -->
            <section class="control_user">

            </section>

        </main>


    </div>

    <!-- Link JavaScript -->
    <script src="js/app.js"></script>

</body>
</html>